@model Doan.Models.TbMenu

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Main container start -->
<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title">Create Menu</h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li>Create Menu</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label">Title:</label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Alias" class="control-label">Alias:</label>
                                <input asp-for="Alias" class="form-control" />
                                <span asp-validation-for="Alias" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Description" class="control-label">Description:</label>
                                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Levels" class="control-label">Levels:</label>
                                <input asp-for="Levels" class="form-control" />
                                <span asp-validation-for="Levels" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ParentId" class="control-label">Parent ID:</label>
                                <input asp-for="ParentId" class="form-control" />
                                <span asp-validation-for="ParentId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Position" class="control-label">Position:</label>
                                <input asp-for="Position" class="form-control" />
                                <span asp-validation-for="Position" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Active:</label>
                                <input type="checkbox" name="IsActive" value="true" />
                                <input type="hidden" name="IsActive" value="false" />
                                <span asp-validation-for="IsActive" class="text-danger"></span>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn green radius-xl outline" />
                        <a asp-action="Index" class="btn red outline radius-xl btn-delete">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
