@model Doan.Models.TbBlog

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Main container start -->
<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title">Edit Blog</h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li>Edit Blog</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="widget-box">
                    <div class="wc-title">
                        <h4>Edit Blog</h4>
                    </div>
                    <div class="widget-inner">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="BlogId" />

                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Alias" class="control-label"></label>
                                <input asp-for="Alias" class="form-control" />
                                <span asp-validation-for="Alias" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CategoryId" class="control-label"></label>
                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="Detail" class="control-label"></label>
                                <textarea asp-for="Detail" class="form-control summernote"></textarea>
                                <span asp-validation-for="Detail" class="text-danger"></span>
                            </div>



                            <div class="from-group">
                                <label class="control-lable">Images</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-success" type="button" onclick="openDialog()">Choose a pic</button>
                                    </div>
                                    <input type="text" class="form-control" asp-for="Image" id="file_input" aria-describedby="button-addon2">
                                </div>
                            </div>

                         

                            <div class="form-group">
                                <label asp-for="IsActive" class="control-label"></label>
                                <div class="custom-control custom-switch">
                                    @Html.CheckBox("IsActive", Model.IsActive, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="IsActive"></label>
                                </div>
                                <span asp-validation-for="IsActive" class="text-danger"></span>
                            </div>



                            <div class="form-group">
                                <input type="submit" value="Save" class="btn green radius-xl outline" />
                                <a asp-action="Index" class="btn red outline radius-xl btn-delete">Back to List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main container end -->
@{
    var summernote = new Doan.Areas.Admin.Models.Summernote("#Detail");

}
<partial name="_Summernote" model="summernote" />

